# Environnements Python
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
artifacts/*.joblib

# Données et modèles locaux
artifacts/
*.joblib

# Secrets
.env
*.key

# Système / IDE
.vscode/
.DS_Store
Thumbs.db